* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

#nav {
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    position: fixed;
    z-index: 99;
}

#nav-part1 {

    width: 40px;
    /* background-color: yellow; */
}

.line {
    height: 2px;
    width: 100%;
    background-color: #434B34;
    margin-bottom: 4px;
    border-radius: 3px;
}

#nav-part2 button {
    padding: 7px 18px;
    border-radius: 50px;
    border: 1px solid #434B34;
    margin-right: 15px;
    font-size: 17px;
    font-weight: 500;
    color: #434B34;
    background-color: transparent;
}

#nav-part2 button:nth-last-child(1) {
    background-color: #434B34;
    color: #fff;
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    /* background-color: red; */
}

#page1 svg {
    position: absolute;
    scale: 0.2;
    top: -15%;
    fill: #434B34;
    z-index: 99;
}

#page1 img {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

#page2 {
    min-height: 150vh;
    width: 100%;
    background-color: #5B6647;
    position: relative;
}

#page2 #svg1 {
    width: 100%;
    position: absolute;
}

#text-container {
    position: relative;
    z-index: 9;
    padding-top: 10vw;
}

#text-container h2 {
    text-align: center;
    font-size: 4.3vw;
    line-height: 4.6vw;
    font-family: PP woodland;
    /* color: #E3E3C4; */
    color: #434B34;

    font-weight: 100;
}

#text-container h3 {
    text-align: center;
    font-size: 4.3vw;
    line-height: 4.6vw;
    font-family: PP woodland;
    /* color: #E3E3C4; */
    color: #434B34;

    font-weight: 100;
}

#text-container h2 span {
    font-family: pp woodland;
}

#page2 #svg2 {
    position: absolute;
    bottom: -10%;
    width: 250vw;
    fill: #5B6647;
    z-index: 9;
}

#page2 #svg3 {
    position: absolute;
    bottom: -10%;
    width: 250vw;
    transform: translateX(-7%);
    fill: #E3E3C4;
}


#page3 {
    min-height: 100vh;
    padding: 13vw 5vw;
    background-color: #F7F7EE;
}

#page3 .elem {
    height: 200px;
    width: 100%;
    border: 1px solid #5B6647;
    /* background-color: red; */
    border-top: none;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    overflow: hidden;
}

#page3 .elem:nth-child(1) {
    border-top: 1px solid #5B6647;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#page3 .elem:nth-last-child(1) {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.elem-part1 {
    height: 100%;
    width: 22%;

    position: absolute;
    transition: all ease-out 0.4s;
    left: 0;
    transform: translateX(-100%);
}

.elem-part1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem-part2 {
    height: 100%;
    width: 100%;
    transition: all ease-out 0.4s;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #434B34;
    padding: 2.6vw 4vw;
}
.elex-1 h3{
    margin-bottom: 1vw;
    font-family: pp woodland;
    font-size: 2.4vw;
    font-weight: 100;
}
.elex-1 p{
    font-size: 0.8vw;
}
.elex-2 h5{
    background-color: #5B6647;
    color: #E3E3C4;
    padding: 4px 18px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 0.9vw;
    transition: all ease-out 0.4s;
    position: relative;
    overflow: hidden;
}
.elex-2 h5 i{
    position: absolute;
    background-color: #E3E3C4;
    color: #5B6647;
    padding:5px 18px;
    left: 0;
    opacity: 0;
    top: 0;
}
.elem:hover .elem-part2 {
    width: 78%;
    background-color: #5B6647;
    color: #E3E3C4;
}

.elem:hover .elem-part1 {
    transform: translateX(0);
}

.elem:hover .elex-2 h5{
    background-color: #E3E3C4;
    color: #5B6647;
}

.elem:hover .elex-2 h5 i{
    opacity: 1;
}